html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
  }
  
  .front-page {
    margin-top: 50px;
  }
  
  .front-title {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #333;
    margin-bottom: 2rem;
    margin-top: 70px;
  }
  
  .food-card {
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
  }
  
  .food-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .food-card .card-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .food-card .card-text {
    font-size: 0.95rem;
    line-height: 1.5;
  }
  